body {
    background-color: #121212; 
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.text {
    color: #00ffcc; 
}


.navbar {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: #000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-reservar-nav {
    background: #00ffcc;
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
}

.pelo {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.pelo h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.pelo p {
    color: #888;
    margin-bottom: 30px;
}


.btn-grande {
    color: #00ffcc;
    border: 2px solid #00ffcc;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-grande:hover {
    background: #00ffcc;
    color: black;
}
.pelo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}